.btn  {
  background: #09f;
  border: 0px;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  color:#fff;
  height: 24px;
  place-content: center;
  place-items: center;
  width: 500px;
  position: relative;
  margin-top: 1rem;
  overflow: hidden;
  padding: 1rem;
  border-radius: 1rem;

}

.btn:hover {
  background: rgb(210, 237, 255);
  opacity: .9;
  box-shadow: none;
  /* transform: translate3d(4px, 4px, 0); */
  transition: all 0.2s ease;
}